
{% load static %}
<section id="about">
    <div class="container">
        <h1 class="title text-center">ABOUT US</h1>
        <div class="jumbotron bg-success">
  <h1 class="display-4 fa fa-quote-left text-center"></h1>
            <p class="lead text-center"><em>Everyone is a maker only we are Printers</em></p>
            <h1 class="display-4 fa fa-quote-right text-center"></h1>
  <hr class="my-4">
</div>
        <div class="row text-center">
        <div class="col-md-4">
            <img id="about-img" class="rounded-circle" src="{% static 'pages/images/hopper.png' %}">
            <h2>Printing</h2>
            <small>we offer quality Printing services</small>

        </div>
            <div class="col-md-4 about">
            <img id="about-img" class="rounded-circle" src="{% static 'pages/images/funnel.png' %}">
            <h2>Branding</h2>
            <small>we offer quality Branding services</small>

        </div>
            <div class="col-md-4 about">
            <img  class="rounded-circle" id="about-img" src="{% static 'pages/images/Hophup.png' %}">
            <h2>Design</h2>
            <small>we offer quality Design services all at fair price</small>

        </div>
        </div>
    </div>
    </section>