{% extends 'pages/base.html' %}
{% load static %}

{% block content %}

  <section class="contact-section bg-steel">
    <div class="container">

      <div class="row">

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fa fa-map-marker	 text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Our location</h4>
              <hr class="my-4">
              <div class="small text-black-50">Australia</div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fa fa-envelope-square	 text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Email</h4>
              <hr class="my-4">
              <div class="small text-black-50">
                <a href="#">3DPrint3D@gmail.com</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fa fa-phone-square	 text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Phone</h4>
              <hr class="my-4">
              <div class="small text-black-50">+1234567890</div>
            </div>
          </div>
        </div>
      </div>

      <div class="social d-flex justify-content-center">
        <a href="#" class="mx-2">
          <i class="fa fa-twitter"></i>
        </a>
        <a href="#" class="mx-2">
          <i class="fa fa-facebook-f"></i>
        </a>
        <a href="#" class="mx-2">
          <i class="fa fa-instagram"></i>
        </a>
      </div>

    </div>
  </section>
{% endblock content %}